.movie-card {
  justify-content: center;
  align-items: center;
  gap: 1.9em;
  border-radius: 5px;
  padding: 1em 0.75em;
  max-width: 460px;
}

.movie-card-top,
.movie-info-wrapper,
.movie-card,
.movie-info {
  display: flex;
}

.movie-info-wrapper {
  flex-direction: column;
}

.movie-info {
  justify-content: space-between;
  gap: 1em;
}


.dvd-background {
  background-color: #a2d9f7;
  box-shadow: -4.8px 6px 4.9px #9cc0d2;
}

.vhs-background {
  background-color: #fae5bf;
  box-shadow: -4.8px 6px 4.9px #cbbc9e;
}

.movie-format {
  width: 53px;
  height: 53px;
}

.delete-btn {
  border: none;
  background: none;
  border-radius: 50%;
  align-self: flex-start;
  width: 38px;
  height: 38px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.delete-btn:hover {
  background-color: #ff9595;
}

.delete-img {
  width: 38px;
  height: 38px;
}

.delete-img:hover {
  opacity: 0.7;
}

.movie-title {
  font-size: 1.1875rem;
  font-weight: 600;
  margin-bottom: 0.45em;
}

.movie-year {
  font-size: 1.125rem;
  margin-bottom: 1.65em;
  font-weight: 500;
}

.movie-actors {
  font-size: 1.0625rem;
}