* {
  margin: 0;
  padding: 0;
}

.own-movie-wrapper {
  margin-top: 3em;
}

.own-movie-text {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.9em;
}

.own-movie-btn {
  border: none;
  background-color: #C1121F;
  font-size: 1.125rem;
  font-family: Inter, serif;
  color: #fff6e5;
  align-self: center;
  padding: 0.5em 1.411em;
  border-radius: 3px;
  cursor: pointer;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1.75em;
  margin-bottom: 1.25em;
}

.movie-list,
.movies-wrapper,
.own-movie-wrapper {
  display: flex;
  flex-direction: column;
}

.movie-list {
  padding-bottom: 3em;
}

.movies-wrapper {
  gap: 3.5em;
}

.movies-sort {
  display: flex;
  justify-content: start;
  gap: 1.5em;
  margin-bottom: 2em;
}

.sort-text {
  font-size: 1.125rem;
  font-weight: 400;
}

.sort-btn {
  display: flex;
  align-items: center;
  gap: 0.4em;
  border: 0;
  background: none;
  font-size: 1.125rem;
  color: #237bf7;
  cursor: pointer;
}

.sort-icon {
  width: 23px;
  height: 23px;
}

.no-movies {
  font-size: 1.125rem;
  margin-top: 0.4em;
}

.or-text {
  text-align: center;
  margin: 0.9em 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.file-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.325em;
}

.file-msg {
  font-size: 1.125rem;
  margin: 0.2em 0;
}

.import-btn {
  border: none;
  background-color: #FDF0D5;
  font-size: 1.0625rem;
  font-family: Inter, serif;
  border: 2px solid #d8525d;
  color: #941d27;
  align-self: center;
  padding: 0.5em 0.7em;
  border-radius: 3px;
  cursor: pointer;
}

@media (min-width: 1037px) {
  .movies-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
    max-width: 1080px;
  }

  .movies-sort {
    margin-left: 3em;
  }
}